<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1079081491965-9jl1ffbi9vsm4jnnnjflfli170mkkmbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079081491965-9jl1ffbi9vsm4jnnnjflfli170mkkmbj</string>
	<key>API_KEY</key>
	<string>AIzaSyBKSrqw5KLRIXNKG5r9wCmmGyZx86rn3BY</string>
	<key>GCM_SENDER_ID</key>
	<string>1079081491965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.siicanada.lifeagency</string>
	<key>PROJECT_ID</key>
	<string>lifeagency-5da44</string>
	<key>STORAGE_BUCKET</key>
	<string>lifeagency-5da44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079081491965:ios:1c464cb87b9a4a7b</string>
	<key>DATABASE_URL</key>
	<string>https://lifeagency-5da44.firebaseio.com</string>
</dict>
</plist>